* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #450076 50%,#2e797b 100%);
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
    align-items: center;
    justify-content: center;
    display: flex;
    

}

@keyframes degrade-animado {

    0% {
        background-position-x: 0%;

    }
    
    100% {
        background-position-x: 100% ;
    }
}

.conteudo {
    height: 80vh;
    width: 80%;
    background-color: rgba(254, 0, 254, 0.334);
    border: 5px double #00dade29;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: -25px 30px 15px #3f026add;
    
   
  
}

h1 {
    text-shadow: -2px 1px  black;
}

.main-login {
   
    width: 90%;
    height: 100%;
    border: 1px black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right-login {
    color: rgb(61, 196, 191);
    background-color: #19031969;
    border-radius: 20px;
    height: 90%;
    width: 50%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    box-shadow: -5px 5px 20px black;
    align-items: center;
    justify-content: center;
}

.right-login h1 {
    position: relative;
    bottom: 30px;
    font-size: 50px;
    padding: 0;
    margin: 0;

}

.text-field {
    display: flex;
    flex-direction: column;
}

.card-login {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: lighter;
    font-size: 25px;
    margin: 5px;
}

input {
    padding: 5px;
    width: 200px;
    color: rgb(80, 182, 182);
    font-weight: bold;
    background-color: #000000a7;
    border: 1px solid rgba(255, 0, 174, 0.074);
    border-radius: 10px;
    font-size: 15px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.622);
    margin: 5px;
}

.btn {
    background-color:   #45007695 ;
    color: aqua;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 20px 0;
    border: none;
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.622);
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    font-size: 15px;
    text-align: center;
    background: linear-gradient(45deg, #450076 50%,#2e797b 100%);
    background-size: 500% 100%;
    animation: botao-hover-animado 5s infinite  alternate;
    
}


@keyframes botao-hover-animado {

    0% {
        background-position-x: 0%;

    }
    
    100% {
        background-position-x: 100% ;
    }

    0% {
        transform: scale(100%);
    }

    100% {
        transform: scale(130%);
    }

    0% {
        box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.622); ;
    }

    100% {
        box-shadow: -15px 15px 34px rgba(0, 0, 0, 0.622);
    }
}

.criar-conta {
    position: relative;
    top: 25px;
}

a {
    color: aqua;
    text-decoration: none;
    font-size: 25px;
    text-decoration: underline;
    
}

.left-login {
    color: rgb(0, 255, 247);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;     
    justify-content: center;
    align-items: centers;
    width: 50%;
    
}



.text-field {
    margin: 5px;
    font-size: 20px;

}

img {
    height: 20%;
    width: 350px;
  margin: 0;
  position: relative;
  left: 10%;
  top: 30px;
    
}

footer {
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 900px) {

    .main-login {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-login {
        height: 50%;
        font-size: 10px;
        ;
    }

    .left-login h1 {
        display: none;
    }

    .right-login h1{
        font-size: 30px;
        margin: 0;
        top: -10%;
    }

    .right-login {
        height: 90vh;
        width: 50vw;
        position: relative;
        bottom: 60px;
        box-sizing: border-box;
        bottom: 16%;
        

    }

    label, input {
        width: 100px;
        font-size: 15px;
        margin: px;
    }
.criar-conta {
    justify-content: center;
    align-items: center;
    top: 5px;
}

    a {
        font-size: 10px;
    text-align: center;    }



    img {
        display: none;
}
.right-login {
    font-size: 20px;
}

}

@media screen and (max-width: 400px) {

    .main-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-login {
        
        justify-content: center;
        align-items: center;
        font-size: 10px;
        left: 100px;
        
    }

    .left-login h1 {
        display: none;
    }

    .right-login h1{
        font-size: 15px;
        margin: 0;
        top: 5px;
    }

    .right-login {
        height: 90vh;
        width: 70vw;
        box-sizing: border-box;
        bottom: 7vh;
        

    }

    label, input {
        width: 100%;
        font-size: 15px;
        margin: 7px;
    }
.criar-conta {
    justify-content: center;
    align-items: center;
    top: 5px;
}

    a {
        font-size: 10px;
    text-align: center;    }



    img {
      display: none;
        
}
.right-login {
    font-size: 20px;
}

}